user nginx;
worker_processes ${WORKER_PROCESSES};

pid /var/run/nginx.pid;

events {
    worker_connections ${WORKER_CONNECTIONS};
}

http {

    client_max_body_size ${CLIENT_MAX_BODY_SIZE};

    include /etc/nginx/mime.types;
    default_type application/octet-stream;

    sendfile on;

    keepalive_timeout 65;

    gzip on;

    include /etc/nginx/conf.d/*.conf;

}
